# GODOT 4+ SPECIFIC IGNORES
.godot/
.nomedia

# GODOT-SPECIFIC IGNORES
.import/
export.cfg
export_credentials.cfg

# IMPORTED TRANSLATIONS
*.translation

# MONO-SPECIFIC IGNORES
.mono/
data_*/
mono_crash.*.json

# IDE
.vscode/
